body {
    background-color: #410c1c;
    color: white;
}

#header-image {
    height: 250px;
    width: 28%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#start-story-img {
    height: 80px;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    animation-delay: 1s;
}

.buttons-holder {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    color: white;
}

#start-button, #instructions-button {
    width: 20%;
    color: white; 
    font-family: 'Spirax', cursive;
    background-color: rgb(65, 62, 62);
    font-size: 20px;
    margin-left: 10px;
}

#start-button:hover, #instructions-button:hover {
    color: white;
    text-shadow: 2px 2px 4px white;
    animation: swing;
}

#instructionsModal {
    color: black;
}

#nameAlert {
    text-align: center;
    font-size: 25px;
    font-family: 'Spirax', cursive;
}

.player-list {
    margin-top: 7px;
    margin-left: 380px;
}

.player-name-input {
    margin-left: 320px;
}