body {
    background-color: #410c1c;
    color: white;
}

#header-image {
    height: 250px;
    width: 28%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#start-story-img {
    height: 80px;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    animation-delay: 1s;
}

.buttons-holder {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    color: white;
}

#start-button, #instructions-button {
    width: 20%;
    color: white; 
    font-family: 'Spirax', cursive;
    background-color: rgb(65, 62, 62);
    font-size: 20px;
    margin-left: 10px;
}

#start-button:hover, #instructions-button:hover {
    color: white;
    text-shadow: 2px 2px 4px white;
    animation: swing;
}

.modal-title {
   font-family: 'EB Garamond', serif;
   font-size: 30px;
}

.modal-body {
    font-family: 'EB Garamond', serif;
}

#instructionsModal {
    color: black;
}

#nameAlert {
    text-align: center;
    font-size: 25px;
    font-family: 'Spirax', cursive;
}

.player-list {
    margin-top: 7px;
    margin-left: 380px;
}

.player-name-input {
    margin-left: 320px;
}

.sidenav {
    margin-top: 30px;
    height: 75%;
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 87%;
    background-color: white; 
    overflow-x: hidden;
    padding-top: 20px;
    border: 2px solid gold;
}

#new-sentence-input {
    background-color: white;
    color: black;
    overflow: scroll; 
    padding: 25px;
    width: 70%;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid gold;
    border-radius: 10px;
}

#new-sentence-submit-button {
    text-align: center;
    margin-top: 120px;
    margin-left: 374px;
    width: 20%;
    height: 40px;
    color: white; 
    font-family: 'Spirax', cursive;
    background-color: rgb(65, 62, 62);
    font-size: 15px;
}

#story-write-timer {
    border-top: 3px solid gold;
    border-left: 3px solid gold;
    border-right: 3px solid gold;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-top: -131px;
    margin-left: 690px;
    width: 7%;
    text-align: center;
    font-size: 14px;
}

.random-content-text {
    font-family: 'Spirax', cursive;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}

#random-content {
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}

#full-story-displayed {
    margin: auto;
    margin-top: 30px;
    color: black;
    background-color: white;
    width: 50%;
    border: 2px solid gold;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    height: 280px;
    overflow: scroll;
}