body {
    background-color: #410c1c;
    color: white;
}

#header-image {
    height: 250px;
    width: 28%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#start-story-img {
    height: 80px;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    animation-delay: 1s;
}

.buttons-holder {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    color: white;
}

#start-button, #instructions-button, #player-name-button {
    width: 20%;
    color: white; 
    font-family: 'Spirax', cursive;
    background-color: rgb(65, 62, 62);
    font-size: 20px;
    margin-left: 10px;
}

#start-button:hover, #instructions-button:hover {
    color: white;
    text-shadow: 2px 2px 4px white;
    animation: swing;
}

.modal-title {
   font-family: 'EB Garamond', serif;
   font-size: 30px;
}

.modal-body {
    font-family: 'EB Garamond', serif;
}

#instructionsModal {
    color: black;
}

#nameAlert {
    text-align: center;
    font-size: 25px;
    font-family: 'Spirax', cursive;
}

.player-list {
    margin-top: 7px;
    margin-left: 380px;
}

.player-name-input {
    margin-left: 30%;
}

li {
    list-style-type: none;
    margin-left: -20%;
    
}

/*-----------------STORY PAGE------------------*/

header {
    background-color: white;
    opacity: 0.7;
}

#header-image-sm {
    height: 110px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}


#new-sentence-input {
    background-color: white;
    color: black;
    padding: 25px;
    width: 130%;
    height: 150px;
    margin-left: -50px;
    margin-top: 10px;
    border: 2px solid gold;
    border-radius: 10px;
}

#new-sentence-submit-button {
    text-align: center;
    margin-left: 120px;
    margin-top: 10px;
    color: white; 
    font-family: 'Spirax', cursive;
    background-color: rgb(65, 62, 62);
    font-size: 15px;
}

#random-content {
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}

.random-word {
    font-family: 'Spirax', cursive;
    font-size: 25px;
}

.random-img { 
    height: 250px;
    width: 250px;
}
.random-content-text {
    font-family: 'Spirax', cursive;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}

#current-story {
    margin-top: 20px;
    color: black;
    background-color: white;
    margin-left: 80px;
    width: 95%;
    border: 2px solid gold;
    border-radius: 5px;
    padding: 10px;
    height: 400px;
    overflow: scroll;
}

.fa-user {
    margin-left: 115px;
}

.current-player-turn {
    display: inline;
    font-family: 'Spirax', cursive;
    font-size: 18px;
}

.current-story-title {
    font-family: 'Spirax', cursive;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 140px;
    text-align: center;
}

.time-left-text {
    float: right;
}

#time-left {
    float: right;
    margin-left: 5px;
}

#reviewModal {
    color: black;
}

.review-prev-sentence-display {
    display:none;
}

/*-----------------RESULTS PAGE--------------------*/

#fullStory {
    margin-top: 5px;
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: 'Spirax', cursive;
    text-shadow: 2px 3px 4px black;
}

#full-story-display {
    background-color: white;
    color: black;
    margin-top: 10px;
    border: 2px solid gold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 430px;
    overflow: scroll;
    
}

#start-story-img {
    animation-delay: 2s;
}

#play-again-btn {
    text-align: center;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white; 
    font-family: 'Spirax', cursive;
    background-color: rgb(65, 62, 62);
    font-size: 15px;
}